{% extends 'base.html' %}
{% set Page_name = 'My CV page' %}
{% block title %}
      CV
{% endblock %}

{% block body %}
    {{ super() }}
    <div id="GridContainter">
        <div id="header">
            IDO POLAK <br><br>
            <div id="rotatingPug">
                <img src="img/pug.png" alt="">
            </div>
        </div>
        <div id="left">
            <label for="PROFILE">PROFILE</label> <br>
            I am a hardworking self-motivated <br>
            student of Information Systems <br>
            Management at Ben Gurion University. <br>
            I Work at Intel's Fab 28 Security<br>
            department and taking part on<br>
            different high impact Information<br>
            Systems projects.<br>
            I have passion for technology and
            analyzing problems with user
            requirements in mind.<br><br>
            <label for="SKILLS">SKILLS</label><br>
            Team Player, Decision-Making, Self-<br>
            Learning, Communication.<br>
            Python, SQL, UML, C#, Java<br>
            OOP, Power BI, SharePoint, Formstack,<br>
            Smartsheet, Microsoft Office.<br><br>
            <label for="LANGUGE PROFICIENCY">LANGUGE PROFICIENCY</label><br>
            Hebrew – native<br>
            English – fluent writing, reading and
            speaking<br><br>
            <label for="CONTACT">CONTACT</label><br>
            PHONE: 052-6789773<br>
            <a href="https://www.linkedin.com/in/ido-polak/">LINKEDIN</a> <br><br>
            EMAIL: Idop93@Gmail.com<br>
        </div>
        <div id="center">
            <h1>EDUCATION</h1>
            <h2>Ben-Gurion University</h2>
            2019 – Present, GPA 84<br>
            3rd year of Information Systems Management<br>
            <h3>Projects:</h3>
            ⬧ Created a business process and database for the website
            "packlane.com" using SQL<br>
            ⬧ Created a system for "pizza deliveries" using Java, simultaneous
            programming (Threads) and GUI<br>
            ⬧ Development of an information system for the management of
            Makhon Taarovet Plant, Kfar Yehoshua based on the Analysis and
            characterization of the company’s needs.<br><br>
            <h2>Misgav Comprehensive High School</h2>
            2005-2011<br>
            Full Matriculation<br><br>
            <h1>WORK EXPERIENCE</h1>
            <h2>Intel Corporation, Computing Team Lead & SCC Shift Supervisor</h2>
            2020–Present<br>
            ⬧ Responsible for complex security and safety systems both in routine
            operation and emergencies<br>
            ⬧ Created and managed the Fab 28 Security Team SHAREPOINT
            website<br>
            ⬧ Work under stress while controlling Intel's Fab 28 daily routine<br>
            <h2>Google Developer Student Club Member, BGU</h2>
            2021<br>
            Was taught new developing technologies in a peer-to-peer learning<br>
            environment while building solutions for local businesses and their<br>
            communities. Relevant technologies – Flutter & React.<br><br>
            <h1>MILITARY SERVICE</h1>
            <h2>Navy Submarine Flotilla (Shayetet 7)</h2>
            <h3>Received the Israeli Presidential Decoration of Excellence during service</h3>
            <h2>2012-2016: Combat service in Submarine Flotilla</h2>
            ⬧ Worked under stress and in fast-changing situations, both in routine
            operation and emergencies<br>
            ⬧ Experience in Technical work, particularly with mechanical systems<br>
            ⬧ Acquired teamwork skills<br>
            ⬧ Responsible for complex, sensitive procedures<br>
            <h2>2016-2017: Squad commander in Submarine Training School</h2>
            ⬧ Commander of a 20-soldier squad training.<br>
            ⬧ Responsible for scheduling/maintaining timetables.<br>
            ⬧ Gained experience in writing lesson plans, incorporating feedback,<br>
            public speaking, making decisions under stress, work with people of<br>
            diverse positions and ranks.
        </div>
        
    </div>
{% endblock %}
